/*To forceStickyFooter - start*/
html, body {
  height: 100%;
}

body {
  	display: flex;
  	flex-direction: column;
	margin: 0px;/* orig*/ 
	background-color: #CCC;
 

}

.forceStickyFooter {
  flex: 1 0 auto;
}

/*To forceStickyFooter - end*/

/*
body > div .pageContent {
	display: flex;
	flex-flow: row wrap;
	min-width: 800px;	
}
*/

body > div > nav,main,aside,footer {
	background: #CCC; border-radius: 0px; margin: 0px; padding: 20px;
}

header {
background: #CCC; 
border-radius: 0px; 
margin: 0px; 
padding: 0px 20px 0px 20px;

}



/* Header */

body > div > header {
/*display: flex;*/ 
	order: 1; 
	height: 100px; 
	flex: 0 1 100%; 
	align-items: center;/*Need to figure out how to get the items centered?*/
	background-color: #ffffff;

}



body > div > header > .headerName { 
	display: inline-flex;
/*	order: 1; */
	height: 100%; 
/*	flex: 0 1 100%;*/ 
	width: 200px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-size: 2.0em;
	padding: 0px;
    vertical-align: center;
	
}

.headerName {
	display:flex;
    align-items: center;
    justify-content: center;
}


/* Navbar */

body > div > header > nav { order: 2; flex: 0 1 200px;}

nav ul li {
	padding: 0 10px;
	list-style: none;
	display: inline-block;
}

nav {
		font-size: 1.0em;
		float: right;
		padding: 25px 200px 25px 0;
		background-color: #ffffff;
	}

/* Main */
main {
  	display: flex;
  	/*flex-direction: row;*/
	margin: 0px;/* orig*/ 
	background-color: #CCC;
	padding: 20px 20px 20px 200px;
 

}

body > div > main > .mainContent { 
/*	order: 3;*/ 
	min-height: 250px; 
	max-width: 700px;
	flex: 1; 
	background-color: #ffffff;

}

body > div > main > .mainContentContact { 
/*	order: 3;*/ 
	min-height: 250px; 
	max-width: 650px;
	flex: 1; 
	background-color: #ffffff;
	padding: 25px;

}

.mainContentText {
    display: block;
	margin: 25px 0;
	background-color: #ffffff;
	width: 700px;
}

.bioImage {
 float: left;
 padding: 25px 5px 5px 25px;
}

.mainContentText p {
/*	border: solid 1px;*/
  	display: block;
	line-height: 125%;
	padding: 25px;
}

#styledportfolioImage {
        max-width: 200px;
        float: left;
    }


.mainContentH h2 {
	font-size: 1.75em;
	color: #4aaaa5;
	padding-bottom: 30px;
}

 .hLine {
	max-width: 590px;
	height: 3px;
	background-color: #e2e2e2;

}



/*
.connectBox{

	flex-direction: row;
}
*/
/*Aside*/

main aside {
	float: right;
	max-width: 300px;
	max-height: 500px;
}

aside{
	padding: 0 100px 0 25px;
}


.connectBoxHeader h2 {
	width: 200px;
	max-height: 500px;
	font-size: 1.75em;
	color: #4aaaa5;
	background-color: #ffffff;
	padding-bottom: 30px;
}

/*ConnectBox*/
/*body > div > main > aside> .connectBox { order: 4; flex: 0 1 200px; }
*/
main aside .connectBox {
		display: flex;
		flex-direction: row;
        justify-content: center;
		width: 200px;  /* Or whatever */
 		height: 100px; /* Or whatever */
		margin: auto;  /* Magic! */
		font-size: 1.5em;
		float: right;
		background-color: #ffffff;
		padding: 25px 0;
		
}

.hLineConnectBox {
	max-width: 590px;
	height: 3px;
	background-color: #e2e2e2;	
}

#contact-button {
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	max-width: 100px;
}

#contact-button:hover {
	background-color: #5E7F7E;

}

#contact-button a {

	color: #ffffff;
	text-decoration: none;
}

body > div > footer { order: 5; height: 100px; flex: 0 1 100%; }

footer{
	background-color: #666666;
	border-top: 4px solid #4aaaa5;
	margin: 50px 0 0 0;
}

#styledGithubImage {

    }

#styledLinkedinImage {

   }

 #styledStackoImage {

     }

 header {
	padding: 0px 0px 0px 200px;
}


/*Portfolio Styling*/
.portfolio {
	max-width: 650px;
	margin: 30px auto;

}



.portfolioBox {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

        justify-content: center;
		width: 700px;  /* Or whatever */
 		height: 1500px; /* Or whatever */
		margin: auto;  /* Magic! */
		font-size: 1.5em;
		float: right;
		background-color: #ffffff;
		padding: 200;
		
}

#hangman {
		padding: 25px;


}

#rPG {
		padding: 25px;

}

#trivia {
		padding: 25px;

}

#rutgers {
		padding: 25px;

}

#rockPaperScissors {
		padding: 25px;

}

