/*To forceStickyFooter - start*/
html, body {
  height: 100%;
}

body {
  	display: flex;
  	flex-direction: column;
	margin: 0px;/* orig*/ 
}

.forceStickyFooter {
  flex: 1 0 auto;
}

/*To forceStickyFooter - end*/

/*
body > div .pageContent {
	display: flex;
	flex-flow: row wrap;
	min-width: 800px;	
}
*/

body > div > header,nav,main,aside,footer {
	background: #CCC; border-radius: 7px; margin: 5px; padding: 20px;
}




/* Header */

body > div > header { 
	order: 1; 
	height: 100px; 
	flex: 0 1 100%; 
	align-items: center;/*Need to figure out how to get the items centered?*/
	background-color: #ffffff;
}



body > div > header > .headerName { 
/*	order: 1; */
	height: 100%; 
	flex: 0 1 100%; 
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-size: 2.0em;
	padding: 20px;
	display: inline-block;
    
}


/* Navbar */

body > div > header > nav { order: 2; flex: 0 1 200px; }

nav ul li {
	padding: 0 10px;
	list-style: none;
	display: inline-block;
}

nav {
		font-size: 1.5em;
		float: right;
		padding: 25px 0;
		background-color: #ffffff;
	}

/* Main */
main {
  	display: flex;
  	/*flex-direction: row;*/
	margin: 0px;/* orig*/ 
	background-color: #CCC;

}

body > div > main > .mainContent { 
/*	order: 3;*/ 
	min-height: 250px; 
	max-width: 700px;
	flex: 1; 
	background-color: #ffffff;

}

.mainContentText {
    display: block;
	margin: 25px 0;
	background-color: #ffffff;
	width: 600px;
}

.bioImage {
 float: left;
}

.mainContentText p {
	border: solid 1px;
  	display: block;
	line-height: 125%;
}

#styledportfolioImage {
        max-width: 200px;
        float: left;
    }


.mainContentH h2 {
	font-size: 1.75em;
	color: #4aaaa5;
	padding-bottom: 30px;
}

 .hLine {
	max-width: 590px;
	height: 3px;
	background-color: #e2e2e2;

}



/*
.connectBox{

	flex-direction: row;
}
*/
/*Aside*/

main aside {
    justify-content: flex-end;
	width: 200px;
	height: 100px;
	float: right;

}

/*ConnectBox*/
/*body > div > main > aside> .connectBox { order: 4; flex: 0 1 200px; }
*/
main aside .connectBox {
		display: flex;
		flex-direction: row;
        justify-content: flex-end
		width: 100px;  /* Or whatever */
 		height: 100px; /* Or whatever */
		margin: auto;  /* Magic! */
		font-size: 1.5em;
		float: right;
		background-color: #4aaaa5;
		padding: 25px 0;
		
}
	
/*
aside ul li {
	padding: 0 10px;
	list-style: none;
	display: inline-block;
}

.connectBox ul li {
	padding: 0 10px;
	list-style: none;
	display: inline-block;
}
*/

/* test
body > div > main > aside> .connectBox { order: 4; flex: 0 1 200px; }
*/

/* orig
body > div > aside { order: 4; flex: 0 1 200px; }
*/

body > div > footer { order: 5; height: 100px; flex: 0 1 100%; }

#styledGithubImage {

    }

#styledLinkedinImage {

   }

 #styledStackoImage {

     }